<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>

    <link th:href="@{/css/productlist.css}" rel="stylesheet">

</head>
<body>

<div layout:fragment="content">

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <!--카테고리 누른 곳의 이름이 상품 목록란에 출력-->
            <div class="col mb-5 text-center fw-bold"><h1>상품 목록</h1></div>
            <!--검색창-->
            <div class="col mx-auto p-2">
                <form class="d-flex" role="search">
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>전체</option>
                            <option value="1">도서명</option>
                            <option value="2">글쓴이</option>
                            <option value="3">출판사</option>
                            <option value="3">판매자</option>
                        </select>
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">검색</button>
                    </div>

                </form>
            </div>
            <!--검색창-->
        </div>
    </div>

    <!-- 상품칸 -->
    <div class="card mb-4 mx-auto p-2" style="max-width: 540px;">
            <div class="row g-0" th:each="dto: ${productDTOList}">
                <div class="col-md-4">
                    <!--이미지 넣는 구역-->
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5><span th:if="${dto.itemSellStatus.name() == 'SELL'}" class="badge text-bg-primary">판매중</span></h5>
                        <h5><span th:if="${dto.itemSellStatus.name() == 'SOLD_OUT'}" class="badge text-bg-secondary">품절</span></h5>

                        <h5 class="card-title fw-bold" th:text="${dto.productName}">도서명</h5>
                        <p class="card-text">
                            글쓴이 [[${dto.writer}]] | 출판사 [[${dto.publish}]] | 상품 등록일  <br>
                            가격 [[${dto.productPrice}]] | 판매자명 [[${dto.seller}]] </p>
                        <p class="card-text"></p>
                        <button type="button" class="btn btn-outline-primary">장바구니</button>
                        <button type="button" class="btn btn-primary">바로구매</button>
                    </div>
                </div>
            </div>
        </div>
    <!--카드 - 상품 -->

    <!-- 페이징처리 -->
    <div class="mx-auto p-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <button type="button" class="btn btn-outline-secondary me-3">처음</button>
                <button type="button" class="btn btn-outline-secondary me-3">이전</button>

                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item me-3"><a class="page-link" href="#">3</a></li>

                <button type="button" class="btn btn-outline-secondary me-3">다음</button>
                <button type="button" class="btn btn-outline-secondary">끝</button>

            </ul>
        </nav>
    </div>
    <!-- 페이징처리 -->





</div>

</body>
</html>