<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>

    <link th:href="@{/css/productlist.css}" rel="stylesheet">

</head>
<body>

<div layout:fragment="content">

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <!--카테고리 누른 곳의 이름이 상품 목록란에 출력-->
            <div class="col mb-5 text-center fw-bold"><h1>상품 목록</h1></div>
            <!--검색창-->
            <div class="col mx-auto p-2">
                <form class="d-flex" role="search">
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>전체</option>
                            <option value="1">도서명</option>
                            <option value="2">글쓴이</option>
                            <option value="3">출판사</option>
                            <option value="3">판매자</option>
                        </select>
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">검색</button>
                    </div>

                </form>
            </div>
            <!--검색창-->
        </div>
    </div>

    <!-- 상품칸 -->
        <div class="card mb-4 mx-auto p-2" style="max-width: 540px; border: none">
            <div class="row g-0" th:each="dto: ${productDTOList}">
                <input class="pno" type="text" th:value="${dto.pno}" readonly>
                <div class="col-md-4">
                    <!--이미지 넣는 구역-->
                    <a class="productImg" href="#">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5><span th:if="${dto.itemSellStatus.name() == 'SELL'}" class="badge text-bg-primary">판매중</span></h5>
                        <h5><span th:if="${dto.itemSellStatus.name() == 'SOLD_OUT'}" class="badge text-bg-secondary">품절</span></h5>

                        <a class="h5 card-title fw-bold productName" th:text="${dto.productName}" th:href="@{'/product/read/' + ${dto.pno}}" style="text-decoration: none">도서명</a>
                        <p class="card-text">
                            [[${dto.writer}]] | [[${dto.publish}]] | [[${#temporals.format(dto.regidate, 'yyyy-MM-dd')}]] <br>
                            [[${dto.productPrice}]]원 | [[${dto.seller}]] </p>

                        <button type="button" class="btn btn-outline-primary fw-bold">장바구니</button>
                        <button type="button" class="btn btn-primary fw-bold">바로구매</button>
                    </div>
                </div>
            </div>
        </div>
    <!--카드 - 상품 -->

    <!-- 페이징처리 -->
    <div class="mx-auto p-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <button type="button" class="btn btn-outline-secondary me-3">처음</button>
                <button type="button" class="btn btn-outline-secondary me-3">이전</button>

                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item me-3"><a class="page-link" href="#">3</a></li>

                <button type="button" class="btn btn-outline-secondary me-3">다음</button>
                <button type="button" class="btn btn-outline-secondary">끝</button>

            </ul>
        </nav>
    </div>
    <!-- 페이징처리 -->





</div>

<script layout:fragment="script" th:inline="javascript">

    $(document).ready(function () {

        let productImg = $(".productImg");
        let productName = $(".productName");



        productImg.on("click", function (e) {
            // alert("실행")
            e.preventDefault();
            e.stopPropagation();

            let card = $(this).closest(".card");
            let pnoInput = card.find(".pno");

            console.log(pnoInput.val());
        })







    })

</script>


</body>
</html>