<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>

<div layout:fragment="content">

    <div class="h1 fw-bold text-center border-bottom border-3 border-black w-50 p-3">회원 목록</div>


        <table class="table table-bordered text-center">
            <thead>
            <tr class="table-dark">
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
                <th scope="col">회원등록일</th>
                <th scope="col">회원수정일</th>
                <th scope="col">권한</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" th:each="dto: ${userDTOList}">
                <th scope="row" class="readBtn" >
                    <a class="link-dark "  href="#" style="text-decoration: none">
                        [[${dto.userId}]]
                    </a>
                </th>
                <th scope="row">[[${dto.userName}]]</th>
                <th scope="row">[[${dto.email}]]</th>
                <th scope="row" class="w-25" th:text="${#temporals.format(dto.regidate, 'yyyy-MM-dd HH:mm:ss')}"></th>
                <th scope="row" class="w-25" th:text="${#temporals.format(dto.modidate, 'yyyy-MM-dd HH:mm:ss')}"></th>
                <th scope="row">[[${dto.role}]]</th>
            </tr>
            </tbody>
        </table>

</div>

<script layout:fragment="script" th:inline="javascript">

    const result = [[${result}]]

    if (result){
        alert(result)
    }


    $(document).ready(function (){

        let readBtn = document.querySelector(".table"); // 정보 읽어오기 버튼
        const formBs = document.querySelector("form");

        readBtn.addEventListener("click", function (e) {
            // alert("실행")
            e.preventDefault();
            e.stopPropagation();
            if(e.target.tagName != "A"){
                return false;
            }

            let find = e.target.innerText

            console.log(find)
            let inp = `<input class="ss" name="userId" value="${find}">`
            console.log(inp);
            formBs.innerHTML = inp;

            formBs.action = `/user/findUser`;
            formBs.method = "post";
            formBs.submit()
        });


    })




</script>




</body>
</html>