<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>등록한 상품 확인</title>

    <link th:href="@{/css/productlist.css}" rel="stylesheet">

</head>
<body>

<div layout:fragment="content">

    <div class="h1 fw-bold text-center">
        <div th:if="${loginUser.role.name()  == 'USER'}">[[${loginUser.userName}]] 회원님의 등록한 상품</div>
        <div th:unless="${loginUser.role.name()  == 'USER'}">[[${loginUser.userName}]] 관리자님의 등록한 상품</div>
    </div>

    <div class="h3 text-center mt-5" th:if="${products.content == null || #lists.isEmpty(products.content)}">등록한 상품이 없습니다.</div>
    <th:block th:unless="${#lists.isEmpty(products.content)}">
        <table class="table table-bordered text-center mt-5" th:if="${products.getContent()}">
            <thead>
            <tr class="table-dark">
                <th scope="col">상품등록일</th>
                <th scope="col">상품 이름</th>
                <th scope="col">글쓴이</th>
                <th scope="col">출판사</th>
                <th scope="col">가격</th>
                <th scope="col">리뷰 개수</th>
            </tr>
            </thead>
            <tbody>

            <tr role="row"  th:each="dto: ${products.content}">
                <th:block th:if="${dto.seller == loginUser.userName}">
                    <th scope="row" >[[${#temporals.format(dto.regidate, 'yyyy-MM-dd')}]]</th>
                    <th scope="row" class="readBtn" >
                        <a class="link-dark " th:text="${dto.productName}" th:href="@{'/product/modify/' + ${dto.pno}}" style="text-decoration: none"></a>
                    </th>
                    <th scope="row">[[${dto.writer}]]</th>
                    <th scope="row">[[${dto.publish}]]</th>
                    <th scope="row">[[${dto.productPrice}]]</th>
                    <!--리뷰 구현 후 리뷰 개수 반영하기-->
                    <th scope="row">0</th>
                </th:block>
            </tr>

            </tbody>
        </table>
        <div class="mx-auto p-2 mt-5"
             th:with="start=${(products.number/maxPage) * maxPage + 1}, end=${(products.totalPages == 0) ? 1 : (start + (maxPage -1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)}">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <button type="button" class="btn btn-outline-secondary me-3"
                            th:onclick="'javascript:page(0)'">처음</button>
                    <button type="button" th:classappend="${products.first} ? 'disabled' : ''
                        "class="btn btn-outline-secondary me-3"
                            th:onclick="'javascript:page(' + ${products.number - 1} + ')'">이전</button>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${products.number eq page -1} ? 'active' : ''">
                        <a class="page-link" th:onclick="'javascript:page(' + ${page -1} +')'">[[${page}]]</a>
                    </li>

                    <button type="button" class="btn btn-outline-secondary mx-3"
                            th:classappend="${products.last} ? 'disabled' : ''"
                            th:onclick="'javascript:page(' + ${products.number + 1} + ')'">다음</button>
                    <button type="button" class="btn btn-outline-secondary"
                            th:onclick="'javascript:page(' + ${end -1} + ')'">끝</button>

                </ul>
            </nav>
        </div>
    </th:block>



</div>

<script layout:fragment="script" th:inline="javascript">

    function page(page) {

        location.href= "/user/myproduct/" + page;
    }

    $(document).ready(function (){
        const result = [[${result}]]

        if (result){
            alert(result)
        }
    })


</script>


</body>
</html>