<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>

<!--    <link th:href="@{/css/register.css}" rel="stylesheet">-->

    <th:block layout:fragment="css">
        <style>
            .fieldError {
                color: red;
            }
        </style>
    </th:block>

<!--     사용자 스크립트 추가-->


    <script layout:fragment="script" th:inline="javascript">
        $(document).ready(function (){
                const result = [[${result}]]

                if (result){
                    alert(result)
                }
            })
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

    <div layout:fragment="content">

        <div class="text-center form-floating mb-3 d-grid gap-2 col-6 mx-auto">
        <a class="h1 fw-bold" href="/" style="text-decoration: none">책,보라</a>
        </div>

        <form action="/user/register" method="post" th:object="${userDTO}">

<!--            <div class="input-group mb-3">-->
<!--                <span class="input-group-text">-->
<!--                    <i class="bi bi-person fs-3"></i>-->
<!--                </span>-->
<!--                <div class="form-floating">-->
<!--                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">-->
<!--                    <label for="floatingInputGroup1">Username</label>-->
<!--                </div>-->
<!--            </div>-->

            <!-- 이름 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="text" name="userName" th:field="*{userName}" class="form-control" id="floatingInput user_name" placeholder="이름" max = 10 required>
                <label for="floatingInput user_name">
                    <i class="fa-regular fa-circle-userMember"></i> 이름
                </label>
            </div>


            <!-- 아이디 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="text" name="userId" th:field="*{userId}" class="form-control" id="floatingInput userid" placeholder="아이디" min=4, max=20 required>
                <label for="floatingInput userid">
                    <i class="fa-regular fa-userMember"></i> 아이디
                </label>
            </div>

            <!-- 비밀번호 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="text" name="userPw" th:field="*{userPw}" class="form-control" id="floatingInput userpw" placeholder="비밀번호" min=8, max=20 required>
                <label for="floatingInput userpw">
                    <i class="bi bi-lock"></i> 비밀번호
                </label>
            </div>

            <!-- 비밀번호 확인 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="text" name="userPw2" th:field="*{userPw2}" class="form-control" id="floatingInput userpw2" placeholder="비밀번호 확인" min=8, max=20 required>
                <label for="floatingInput userpw2">
                    <i class="bi bi-lock"></i> 비밀번호 확인
                </label>
            </div>

            <!-- 이메일 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="email" name="email" th:field="*{email}" class="form-control" id="floatingInput email" placeholder="이메일" required>
                <label for="floatingInput email">
                    <i class="fa-regular fa-envelope"></i> 이메일
                </label>
            </div>


            <!-- 주소 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto">
                <input type="text" name="address" th:field="*{address}" class="form-control" id="floatingInput address" placeholder="주소">
                <label for="floatingInput address">
                    <i class="bi bi-house-door"></i> 주소 (선택)
                    <!--나중에 주소 api 적용시켜보기-->
                </label>
            </div>

            <!-- 권한 -->
            <div class="form-floating mb-3 d-grid gap-2 col-6 mx-auto"> <!--값 오는 거 확인 후 히든으로 바꾸기-->
                <input type="text" name="role" th:field="*{role}" class="form-control" id="floatingInput role" placeholder="권한" readonly>
                <label for="floatingInput role">
                    <i class="fa-solid fa-userMember-shield"></i> 권한
                </label>
            </div>

            <div th:if="${not #strings.isEmpty(error3)}" class="alert alert-light mb-3 d-grid gap-2 col-6 mx-auto" role="alert"> <!--값 오는 거 확인 후 히든으로 바꾸기-->
                <p th:text="${error3}" class="fieldError"></p>
            </div>

            <div th:if="${#fields.hasErrors}" class="alert alert-light mb-3 d-grid gap-2 col-6 mx-auto" role="alert"> <!--값 오는 거 확인 후 히든으로 바꾸기-->

                <p th:text="${error2}" class="fieldError"></p>

<!--                <p th:text="${error2}" class="fieldError"></p>-->



                <p th:if="${#fields.hasErrors('user_name')}" th:errors="*{userName}" class="fieldError">

                </p>

                <p th:if="${#fields.hasErrors('user_id')}" th:errors="*{userId}" class="fieldError">

                </p>

                <p th:if="${#fields.hasErrors('user_pw')}" th:errors="*{userPw}" class="fieldError">

                </p>

                <p th:if="${#fields.hasErrors('user_pw2')}" th:errors="*{userPw2}" class="fieldError">


                </p>

                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">

                </p>

                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">

                </p>

                <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="fieldError">

                </p>

            </div>





            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">회원가입</button>
            </div>


        </form>



    </div>

</body>
</html>