<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
, "/{page}"

<div class="row row-cols-1 row-cols-md-6 g-4 mt-3"
     th:with="start=${(products.number/maxPage) * maxPage + 1}, end=${(products.totalPages == 0) ? 1 : (start + (maxPage -1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)}">
    <div class="col pagination1">
        <a class="page-link" href="#" th:if="${products.number - 1} >= 0" th:onclick="'javascript:page(' + ${products.number - 1} + ')'">
            <i class="fa-solid fa-chevron-left fa-4x m-5 p-2"></i>
        </a>
        <a class="page-link" href="#" th:unless="${products.number - 1} >= 0" th:onclick="'javascript:page(2)'">
            <i class="fa-solid fa-chevron-left fa-4x m-5 p-2"></i>
        </a>
    </div>

    <div class="col mainlist" th:each="product: ${products.getContent()}">

        <a th:href="'/product/read/' + ${product.pno}" style="text-decoration: none">
            <div class="card h-100 text-center border-0">
                <img th:src="${product.imgUrl}" style="height: 100%" class="card-img-top" alt="${product.productName}">
                <div class="card-body text-truncate">
                    <h5 class="card-title" th:text="${product.productName}" style="height: 100%">Card title</h5>
                </div>
            </div>
        </a>

    </div>

    <div class="col pagination2">
        <a class="page-link" href="#" th:if="${products.number + 1} <= 2" th:onclick="'javascript:page(' + ${products.number + 1} + ')'">
            <i class="fa-solid fa-chevron-right fa-4x m-5 p-2"></i>
        </a>
        <a class="page-link" href="#" th:unless="${products.number + 1} <= 2" th:onclick="'javascript:page(0)'">
            <i class="fa-solid fa-chevron-right fa-4x m-5 p-2"></i>
        </a>
    </div>


</div>
</body>
</html>