<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="canonical" href="https://picsum.photos">


</head>
<body>

<div layout:fragment="content">

    <!--캐러셀-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/img/서점1.jpg" class="d-block w-100" style="width: 1320px; height: 500px;" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/img/서점2.jpg" class="d-block w-100" style="width: 1320px; height: 500px;" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="/img/서점3.jpg" class="d-block w-100" style="width: 1320px; height: 500px;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--캐러셀-->

    <!--이미지 카드-->
    <h3 class="text-center mt-5 fw-bold">새로 들어온 책</h3>
    <div class="row row-cols-1 row-cols-md-6 g-4 mt-3">
        <div class="col-md-2 pagination1"></div>
        <div class="col-md-8 ">
            <div class="row row-cols-1 row-cols-md-4 mainlist">

            </div>

        </div>
        <div class="col-md-2 pagination2"></div>

    </div>
    <!--이미지 카드-->

</div>


<script layout:fragment="script" th:inline="javascript">

    function page(page) {

        location.href= "/" + page;
    }

    const result = [[${result}]]

    if (result){
        alert(result)
    }

    $(document).ready(function () {
        let str = "";
        let str2 = "";
        let str3 = "";
        let thispage = 1; //처음 진입했을 때 메인 페이지

        let mainlist = $(".mainlist");
        let pagination1 = $(".pagination1");
        let pagination2 = $(".pagination2");

        let showMain = function (page){
            str = "";
            str2 = "";
            str3 = "";

            if (page == null || page=="" || page.length == 0){
                page = 1;
            }

            $.ajax({
                url : "/" + page,
                type : "get",
                dataType : "json",
                success: function (data){
                    thispage = data.page;


                    if ( data== null || data.dtoList == null || data.dtoList.length == 0) {
                        str += ` <h4 class="text-center">아직 새로 들어온 책이 없습니다.</h4>`;
                        mainlist.html(str);
                    } else {

                        console.log(data)

                        for (let i = 0; i < 4; i++){

                            str += `<div class="col"><a href="/product/read/${data.dtoList[i].pno}" style="text-decoration: none">
                               <div class="card  text-center border-0">

                                    <div class="ratio ratio-1x1">
                                        <img  src="${data.dtoList[i].imageDTOList[0].imgUrl}"  class="card-img-top" alt="${data.dtoList[i].productName}">
                                    </div>
                                   <div class="card-body text-truncate">
                                    <h5 class="card-title" >${data.dtoList[i].productName}</h5>
                                   </div>
                               </div>
                               </a></div>`
                        }

                    }
                    if(data.page == 1){
                        str2 += `<a class="page-link" href="#"  data-num="3">
                                <i class="fa-solid fa-chevron-left fa-4x m-5 p-2"></i>
                                </a>`

                    }else {
                        str2 = `<a class="page-link" href="#"  data-num="${data.page - 1}">
                                    <i class="fa-solid fa-chevron-left fa-4x m-5 p-2"></i>
                                </a>`
                    }


                    if(data.page + 1 <= 3){
                        str3 += ` <a class="page-link" href="#" data-num="${data.page + 1}">
                                <i class="fa-solid fa-chevron-right fa-4x m-5 p-2"></i>
                                </a>`
                    }else {
                        str3 += `<a class="page-link" href="#" data-num="1">
                                    <i class="fa-solid fa-chevron-right fa-4x m-5 p-2"></i>
                                </a>`
                    }
                    pagination1.html(str2);
                    pagination2.html(str3);
                    mainlist.html(str);
                },
                error: function (result, error){
                    alert("에러 발생 : " + result.responseText)
                    alert("에러 발생 : " + error.responseText)
                }
            })

        }

        pagination1.on("click", "a", function (e){
            e.preventDefault()
            let datanum = $(this).data("num");
            showMain(datanum);
        })

        pagination2.on("click", "a", function (e){
            e.preventDefault()
            let datanum = $(this).data("num");
            showMain(datanum);
        })

        showMain(1);

    })




</script>



</body>
</html>