<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 확인</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="fw-bold mb-4">주문 상품 확인</h1>

    <table class="table table-bordered border-primary mb-4">
        <thead class="table-primary table-bordered border-primary">
        <tr class="text-center">
            <th scope="col">상품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
        </tr>
        </thead>
        <tbody class="table-group-divider border-primary">
        <tr class="text-center">
            <td style="vertical-align: middle">
                <img src="http://via.placeholder.com/100">
                상품명들어감
            </td>
            <td style="vertical-align: middle">
                <span class="col text-center fw-bold"> 10000원
                </span>
            </td>
            <td style="vertical-align: middle">
                <input class="col text-center" type="number" min="1" max="999" value="1"
                       style="border: none;" readonly>
            </td>
        </tr>
        </tbody>
    </table>

    <hr class="mb-4">

    <h1 class="text-center mb-4">총 결제 금액 :
        <span id = "orderTotalPrice" class="text-primary fw-bold"> <!-- 총계산금액 구하기 함수-->
            0원
        </span>
    </h1>

    <div class="d-grid gap-2 d-flex justify-content-sm-center">
    <button type="button" class="btn btn-outline-primary fw-bold">구매 취소</button>
    <button type="button" class="btn btn-primary fw-bold">구매</button>
    </div>

</div>

</body>
</html>