<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 확인</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="fw-bold mb-4">주문 상품 확인</h1>

    <table class="table table-bordered border-primary mb-4">
        <thead class="table-primary table-bordered border-primary">
        <tr class="text-center">
            <th scope="col">상품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
        </tr>
        </thead>
        <tbody class="table-group-divider border-primary" th:each="cartItem : ${cartDetailDTOList}">
        <tr class="text-center item">
                <input type="checkbox" class="cartChkBox" name="cartChkBox" th:value="${cartItem.cartItemId}" hidden="hidden" checked>
            <td style="vertical-align: middle">
                <input type="hidden" name="pno" th:value="${cartItem.pno}">
                <a th:href="'/product/read/' + ${cartItem.pno}" style="text-decoration: none">
                    <img th:src="${cartItem.imgUrl}" width="100px" height="100px" th:alt="${cartItem.productName}">
                </a>
                <div class="mt-2 fw-bold" style="text-decoration: none">[[${cartItem.productName}]]</div>
            </td>
            <td style="vertical-align: middle">
                <span class="col text-center fw-bold"
                      th:id="'price_' + ${cartItem.cartItemId}"
                      th:data-price="${cartItem.productPrice}"
                      th:text="${cartItem.productPrice} + '원'"> 10000원
                </span>

            </td>
            <td style="vertical-align: middle">
                <span class="col text-center fw-bold"
                      th:id="'count_' + ${cartItem.cartItemId}"
                      th:data-count="${cartItem.count}"
                      th:text="${cartItem.count}"></span>
                <input type="hidden" name="count" th:value="${cartItem.count}">
            </td>
        </tr>
        </tbody>
    </table>

    <hr class="mb-4">

    <h1 class="text-center mb-4">총 결제 금액 :
        <span id = "orderTotalPrice" class="text-primary fw-bold"> <!-- 총계산금액 구하기 함수-->
            0원
        </span>
    </h1>

    <div class="d-grid gap-2 d-flex justify-content-sm-center">
    <button type="button" class="btn btn-outline-primary fw-bold cancelBtn">구매 취소</button>
    <button type="button" class="btn btn-primary fw-bold buyBtn">구매</button>
    </div>


</div>

<script layout:fragment="script" th:inline="javascript">

    $(document).ready(function (){

        getOrderTotalPrice();

        //총 결제금액
        function getOrderTotalPrice() {
            let orderTotalPrice = 0;
            //console.log("확인")
            $("input[name=cartChkBox]:checked").each(function () {
                let cartItemId = $(this).val();
                //console.log(cartItemId)
                let price = $("#price_" + cartItemId).attr("data-price");
                let count = $("#count_" + cartItemId).attr("data-count");

                console.log(price);
                console.log(count);
                orderTotalPrice += price * count;
            })

            $("#orderTotalPrice").text(orderTotalPrice + "원")

        }

        //주문을 취소하고 메인 페이지로 돌아가기
        $(".cancelBtn").on("click", function () {
            cancelBuy();
            //history.back();
        });

        function cancelBuy(){
            let dataList = new Array();
            let paramData = new Object();

            $("input[name=cartChkBox]:checked").each(function () {

                let cartItemId = $(this).val()
                let data = new Object();

                data["cartItemId"] = cartItemId;
                dataList.push(data);
            })
            paramData['cartOrderDTOList'] = dataList;
            console.log(paramData)

            $.ajax({
                url: "/orders/clear",
                type: "delete",
                data: JSON.stringify(paramData),
                contentType: "application/json; charset-8",
                dataType: "json",
                success: function (result, status) {
                    alert("구매가 취소되었습니다.")
                    location.href = "/"
                },
                error: function (result, status, error) {
                    if (result.status == '401') {
                        alert("로그인 후 이용해주세요")
                        location.href = "/login"
                    } else if(result.status == '200'){
                        alert("구매가 취소되었습니다.")
                        location.href = "/"
                    }
                    else {
                        alert(result.responseText)
                    }
                }
            })
        }

        $(".buyBtn").on("click", function () {
            orders();
        });

        function orders() {
            let dataList = new Array();
            let paramData = new Object();

            $("input[name=cartChkBox]:checked").each(function () {

                let cartItemId = $(this).val()
                let data = new Object();

                data["cartItemId"] = cartItemId;
                dataList.push(data);
            })
            paramData['cartOrderDTOList'] = dataList;
            console.log(paramData)

            $.ajax({
                url: "/orders/buy",
                type: "post",
                data: JSON.stringify(paramData),
                contentType: "application/json; charset-8",
                dataType: "json",
                success: function (result, status) {
                    alert("구매가 완료되었습니다.")
                    location.href = "/"
                },
                error: function (result, status, error) {
                    if (result.status == '401') {
                        alert("로그인 후 이용해주세요")
                        location.href = "/login"
                    } else {
                        alert(result.responseText)
                    }
                }
            })

        }




    })


</script>

</body>
</html>